<a href="https://colab.research.google.com/github/saloni288/BehavioralAnalysis/blob/main/Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the required packages

In [ ]:
import pandas as pd
import numpy as np

Load the Dataset

In [ ]:
df= pd.read_excel('AkshayEvents.xlsx')
df.head()

                                          Unnamed: 0
0                                              F1R3A
1  #OnlineScore - Correct Response - Resposonse T...
2                                              Cross
3                                              F7R4B
4  #OnlineScore - Correct Response - Resposonse T...

Describe the dataset

In [ ]:
df.describe()

       Unnamed: 0
count         548
unique        239
top         Cross
freq          171

In [ ]:
df = pd.read_excel('AkshayEvents.xlsx', header=None, names=['data'])

# Removing the word cross from dataset
df = df[df['data'] != 'Cross']

print(df)

                                                  data
0                                                  NaN
1                                                F1R3A
2    #OnlineScore - Correct Response - Resposonse T...
4                                                F7R4B
5    #OnlineScore - Correct Response - Resposonse T...
..                                                 ...
544                                                Gap
545  #Score - Response(Correct 40  Total 40 ), Resp...
546    Reset Score and Response time after Show Result
547  #Response - Subject Response String The Curren...
548                                            TySlide

[378 rows x 1 columns]

Again re-check the data

In [ ]:
df.head()

                                                data
0                                                NaN
1                                              F1R3A
2  #OnlineScore - Correct Response - Resposonse T...
3                                              F7R4B
4  #OnlineScore - Correct Response - Resposonse T...

Drop all the missing cells

In [ ]:
df.dropna()

                                                  data
1                                                F1R3A
2    #OnlineScore - Correct Response - Resposonse T...
3                                                F7R4B
4    #OnlineScore - Correct Response - Resposonse T...
5                                                F8R4B
..                                                 ...
373                                                Gap
374  #Score - Response(Correct 40  Total 40 ), Resp...
375    Reset Score and Response time after Show Result
376  #Response - Subject Response String The Curren...
377                                            TySlide

[377 rows x 1 columns]

Loop through the Data, extract accuracy and reaction time

In [ ]:
import pandas as pd

df = pd.read_excel("AkshayEvents.xlsx", header=None)

data = []
time = None
accuracy = None

for line in df[0]:

    line = str(line).strip()

    if "#OnlineScore" in line:


        if "Correct" in line:
            accuracy = "Correct"
        elif "Wrong" in line:
            accuracy = "Wrong"
        else:
            accuracy = None


        if "Time -" in line:
            parts = line.split("Time -")
            if len(parts) > 1:
                time = parts[1].split(",")[0].strip()

    elif line.startswith("F") and time:
        data.append([line, time, accuracy])
        time = None
        accuracy = None


df_clean = pd.DataFrame(data, columns=["Trial", "ResponseTime", "Accuracy"])

print("Rows extracted:", len(df_clean))
df_clean.head()

Rows extracted: 175

   Trial  ResponseTime Accuracy
0  F7R4B  12125.000000  Correct
1  F8R4B  10109.000000  Correct
2  F8R4A  12172.000000  Correct
3  F7R4A  11296.000000  Correct
4  F7R3B   7375.000000  Correct

Download the dataset!

In [ ]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df_clean)

https://docs.google.com/spreadsheets/d/10TdzrvcnC5Y2_S67vK5jx3L9cktdiNaRZ2mdmQaTlc4/edit#gid=0